{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href={%static "style.css"%}>
</head>
<body>
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sint deserunt rerum voluptate cum incidunt exercitationem impedit consequuntur reiciendis aliquid debitis eos cupiditate vitae consectetur natus similique. Labore laborum totam error enim. Fuga officiis amet voluptate. Maxime distinctio sint accusantium quidem nobis quam dignissimos id suscipit repellendus! Laboriosam reprehenderit repellendus atque exercitationem! Laborum distinctio tempore, enim dolorum perferendis nostrum dicta expedita ea debitis minima quod deserunt ad fuga iure provident facilis, accusamus ducimus voluptatibus fugit aliquid beatae? Similique deserunt laudantium distinctio possimus rem animi nisi! Pariatur voluptatum, sit ea hic veritatis beatae facere assumenda non iusto inventore molestiae, ullam incidunt!
    </p>
</body>
</html>